{{extend 'layout.html'}}

<div class="row">
    <div class="col-lg-12">
	    <div class="row">
			<div class="col-lg-12">
				<h3>
					Ethno-Indology – Heidelberg Studies in South Asian Rituals
				</h3>
			</div>
		</div>

		<div class="row">	
			{{if session.forced_language =='de': }}
			<div class="col-lg-9">	
				  <p>Die Publikationsreihe <em>Ethno-Indology</em> ist eine von Experten begutachtete Plattform für die Veröffentlichung von wissenschaftlichen Arbeiten, die sich mit südasiatischen Traditionen und Praktiken über die Methoden der Anthropologie und Indologie befassen – insbesondere für Monographien und thematischen Sammelbänden, die die Beziehung zwischen gelebten Kulturen und Texttraditionen untersuchen. Die Ethno-Indologie ist ein relativ neues Teilgebiet sowohl der Indologie als auch der Ethnologie Südasiens, das die Kluft zwischen dem Studium des alten Indiens und den gelebten Traditionen des zeitgenössischen Südasiens zu überbrücken sucht. Die Buchreihe <em>Ethno-Indology</em> widmet sich der Erforschung eines breiten Spektrums von Themen, einschließlich der Beziehung zwischen religiösen Texten und Praktiken. Einreichungen von Nachwuchswissenschaftler:innen und etablierten Forscher:innen in englischer oder deutscher Sprache sind willkommen.</p>               
				  <div class="widget">
							<ul class="tags">

								<li>

								   <p><a href="{{=URL('catalog', 'series/ethind')}}">{{=T('Volumes')}}</a></p>

								</li>

							</ul>
				  </div>        
			</div>	

			<div class="col-lg-3">
				<div id="infoBoxRechts"><!--{{=IMG(_src=URL('static','images/series/macs_logo.png'),_width='230px')}}--><p>
				<b>Herausgeber</b><br>
				Ute Hüsken (Universität Heidelberg)<br>
				Axel Michaels (Universität Heidelberg)<br><br>
                <b>Beirat</b><br>
				Jörg Gengnagel (Universität Würzburg)<br> 
				Vera Lazzaretti (Centro em Rede de Investigação em Antropologia, Lisboa)<br>
				Angelika Malinar (Universität Zürich)<br>
				Alexander von Rospatt (UC Berkeley)<br> 
				Caleb Simmons (The University of Arizona, Tucson)<br>
				Astrid Zotter (Universität Heidelberg)
				<br><br>	
				<b>Kontakt</b><br>
				E-Mail: <a href="mailto:huesken@uni-heidelberg.de" title="E-Mail an Ute Hüsken">huesken@uni-heidelberg.de</a><br>
				<a href="mailto:michaels@hcts.uni-heidelberg.de" title="E-Mail an Axel Michaels">michaels@hcts.uni-heidelberg.de</a>
				</p>
                <p><b>ISSN</b><br>ISSN (Print): 1860-2053<br>
                ISSN (online): 2941-1645</p>
            	</div>
			</div>		
			{{elif session.forced_language =='en': }}
			<div class="col-lg-9">	
				  <p>The book series <em>Ethno-Indology</em> is a peer-reviewed platform for scholars to publish their work that engages with South Asian traditions and practices through the methods of Anthropology and Indology. The series especially welcomes submissions of monographs and thematic edited volumes that examine the relationship between lived cultures and textual traditions. Ethno-Indology is a relatively new subfield of both Indology and the Anthropology of South Asia that seeks to bridge the gap between the study of ancient India and the lived  traditions of contemporary communities in South Asia. The <em>Ethno-Indology</em> book series is dedicated to the exploration of a wide range of topics, including the relationship between religious texts and practices. Submissions by junior and senior researchers in English or German are welcome.</p>
				  <div class="widget">
							<ul class="tags">

								<li>

								   <p><a href="{{=URL('catalog', 'series/ethind')}}">{{=T('Volumes')}}</a></p>

								</li>

							</ul>
				  </div>
			</div>	

			<div class="col-lg-3">
				<div id="infoBoxRechts"><!--{{=IMG(_src=URL('static','images/series/macs_logo.png'),_width='230px')}}--><p>
				<b>Editors</b><br>
				Ute Hüsken (Universität Heidelberg)<br>
				Axel Michaels (Universität Heidelberg)<br><br>
                <b>Editorial Board</b><br>
				Jörg Gengnagel (Universität Würzburg)<br> 
				Vera Lazzaretti (Centro em Rede de Investigação em Antropologia, Lisboa)<br>
				Angelika Malinar (Universität Zürich)<br>
				Alexander von Rospatt (UC Berkeley)<br> 
				Caleb Simmons (The University of Arizona, Tucson)<br>
				Astrid Zotter (Universität Heidelberg)
				<br><br>	
				<b>Contact</b><br>
				E-Mail: <a href="mailto:huesken@uni-heidelberg.de" title="Email to Ute Hüsken">huesken@uni-heidelberg.de</a><br>
				<a href="mailto:michaels@hcts.uni-heidelberg.de" title="Email to Axel Michaels">michaels@hcts.uni-heidelberg.de</a>
				</p>
                <p><b>ISSN</b><br>ISSN (Print): 1860-2053<br>
                ISSN (online): 2941-1645</p>
            	</div>
			</div>	
			{{pass}}
       </div>
    </div>
</div>