{{extend 'layout.html'}}

<div class="row">
    <div class="col-lg-12 contentbox-12">
	    <div class="row">
			<div class="col-lg-12">
				<h3>  {{if session.forced_language =='de': }}
Monographien zur indischen Archäologie, Kunst und Philologie
					{{elif session.forced_language =='en': }}
Monographs on Indian Archaeology, Art and Philology
				{{pass}}
				</h3>
			</div>	
		</div>
		
		<div class="row">
			{{if session.forced_language =='de': }}
			<div class="col-lg-12">
				<p>Die Serie &bdquo;Monographien zur indischen Archäologie, Kunst und Philologie&ldquo; wird seit 1978 vom Stiftungsrat der Stiftung Ernst Waldschmidt herausgegeben. Sie umfasst herausragende Beiträge auf dem Gebiet der Indologie in ihrer gesamten Breite, mit einem besonderen Schwerpunkt auf den Forschungsinteressen des Stifters (Archäologie und Kunstgeschichte Zentralasiens, buddhistische Literatur). Über die Aufnahme in die Reihe entscheidet der Vorstand der Stiftung auf Vorschlag des Stiftungsrats.</p>
                <p>Die <a href="https://www.smb.museum/museen-einrichtungen/museum-fuer-asiatische-kunst/sammeln-forschen/forschung/stiftung-ernst-waldschmidt-berlin/" title="Homepage Staatliche Museen Berlin, Stiftung Ernst Waldschmidt">Stiftung Ernst Waldschmidt Berlin</a> wurde im Jahre 1968 vom Indologen Ernst Waldschmidt (1897–1985) gegründet. Sie ist eine bürgerlich-rechtliche Stiftung nach Berliner Landesrecht mit Sitz in Berlin und dient der Unterstützung der Indienforschung in Deutschland.</p>

				<div class="widget">
							<ul class="tags">

								<li>

								   <p><a href="{{=URL('catalog', 'series/miakp')}}">{{=T('Volumes')}}</a></p>

								</li>

							</ul>
				</div>
				
			</div> 		
			
			<!--<div class="col-lg-3">
				<div id="infoBoxRechts">{{=IMG(_src=URL('static','images/series/macs_logo.png'),_width='230px')}}<p>
				<b>Herausgeberin</b><br>
				Prof. Dr. Nadja-Christina Schneider<br>
				Professorin für den Bereich Gender and Media Studies for the South Asian Region<br><br>
				Humboldt-Universität zu Berlin<br>
				Institut für Asien- und Afrikawissenschaften<br>
				Invalidenstraße 118<br>
				D-10099 Berlin<br><br>
				E-Mail: nadja-christina.schneider@hu-berlin.de<br>
				Internet: <a href="https://www.iaaw.hu-berlin.de/de/querschnitt/medialitaet/querschnitt/personen/schneider" title="Link zur Homepage">Homepage</a>
				</p>
                <p><b>ISSN</b><br>ISSN (Print): 2702-1017<br>
                ISSN (online): 2702-1025</p>
            </div>
			</div>-->
			{{elif session.forced_language =='en': }}
			<div class="col-lg-12">
				<p>The series "Monographs on Indian Archaeology, Art and Philology" has been published since 1978 by the Board of Trustees of the Ernst Waldschmidt Foundation. It comprises outstanding contributions in the field of Indology in its entire breadth, with a special focus on the research interests of the founder (archaeology and art history of Central Asia, Buddhist literature). Inclusion in the series is decided by the Foundation's Board of Directors on the recommendation of the Foundation's Board of Trustees.</p>
                <p>The <a href="https://www.smb.museum/en/museums-institutions/museum-fuer-asiatische-kunst/collection-research/research/stiftung-ernst-waldschmidt-berlin/" title="Homepage Staatliche Museen zu Berlin, Ernst Waldschmidt Foundation">Ernst Waldschmidt Foundation Berlin</a> was founded in 1968 by the Indologist Ernst Waldschmidt (1897–1985). It is a foundation under civil law according to Berlin state law with its headquarters in Berlin and serves to support research on India in Germany.</p>
				<div class="widget">
							<ul class="tags">

								<li>
								   <p><a href="{{=URL('catalog', 'series/miakp')}}">{{=T('Volumes')}}</a></p>
								</li>

							</ul>
				</div>
			</div> 		
			
			<!--<div class="col-lg-3">
				<div id="infoBoxRechts">{{=IMG(_src=URL('static','images/series/macs_logo.png'),_width='230px')}}<p>
				<b>Editor</b><br>
				Prof. Dr. Nadja-Christina Schneider<br>
				Professor for Gender and Media Studies for the South Asian Region<br><br>
				Humboldt-Universität zu Berlin<br>
				Institute for Asian and African Studies<br>
				Invalidenstraße 118<br>
				D-10099 Berlin<br><br>
				E-Mail: nadja-christina.schneider@hu-berlin.de<br>
				Internet: <a href="https://www.iaaw.hu-berlin.de/de/querschnitt/medialitaet/querschnitt/personen/schneider" title="Link zur Homepage">Homepage</a>
                </p>
                <p><b>ISSN</b><br>ISSN (Print): 2702-1017<br>
                ISSN (online): 2702-1025</p>
            </div>
			</div>  -->
			{{pass}}

		</div>
    </div>
</div>

