{{extend 'layout.html'}}
<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Vorschau 
                {{elif session.forced_language =='en': }}
                Preview
            {{pass}}
            </h3>
        </div>   
	</div>

<section id="content">


    		<div class="row contentbox-12" id="kurz">
			  <div class="alignleft" style="height: auto;">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_kurz.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Johannes L. Kurz<br />
                            The Imperial Library of the Northern Song: A Complete Translation of the Lintai gushi (canben) 麟台故事 (殘本) by Cheng Ju 程俱 (1078–1144)</b>
						</div>
						<p>Research on the history of libraries in pre-modern China served to reconstruct not only the holdings of imperial and private libraries, the bureaucracy and handling procedures involved in maintaining the book collections, and the commercial book printing and trade but also provided new insights into the kind of books that were produced and read by the educated. This book is a complete translation of Lintai gushi by Cheng Ju - the oldest surviving source of information on the Northern Song (960-1126) imperial libraries.</p>
						<p>
						  {{if session.forced_language =='de': }}
                            Erscheint im Sommer/Herbst 2021
							{{elif session.forced_language =='en': }}
							Forthcoming in Summer/Autumn 2021
							{{pass}}
						</p>
					</article>
				</div>
			  </div>
			</div>


    		<div class="row contentbox-12" id="oranskaia">
			  <div class="alignleft" style="height: auto;">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_abbi.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Tatiana Oranskaia, Anvita Abbi {{=T('(Eds.)')}}<br />
                            The Heart of Change: Issues on Variation in Hindi</b>
						</div>
						<p>Variation is considered a central property of language, providing means to convey social meaning, cultural values, and emotional attitudes. <em>The Heart of Change: Issues on Variation in Hindi</em> aspires to make the picture of this phenomenon, functioning as the motor of linguistic change, clearer by looking into regional, social and linguistic forms of Hindi in the broad meaning of the latter term. Variation is not only the topic but also the strategy of the book combining various aspects of linguistic research and, accordingly, various data types as well as methodological approaches. The bilingual English-and-Hindi volume provides fresh data, useful reading, and ideas of interest to Indologists, linguists, and language teachers.</p>
						<p>
						  {{if session.forced_language =='de': }}
                            Erscheint im Sommer/Herbst 2021
							{{elif session.forced_language =='en': }}
							Forthcoming in Summer/Autumn 2021
							{{pass}}
						</p>
					</article>
				</div>
			  </div>
			</div> 



			
			  <div class="row contentbox-12" id="bhadana">
				<div class="alignleft" style="height: auto;">
				  <div class="col-lg-2">
					  <article>
						  <div class="post-image">
							  {{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						  </div>
					  </article>
				  </div>
				  <div class="col-lg-9">
					  <article>
						  <div class="post-heading">
							  <b>Bindu Bhadana<br />
								Postnational Perceptions in Contemporary Art Practice</b>
								{{if session.forced_language =='de': }}								  
								<p>Diese Publikation befasst sich mit dem Werk von Chitra Ganesh (geb. 1974), Tejal Shah (geb. 1979) und Nikhil Chopra (geb. 1976), um die sich verändernde Beziehung zwischen dem geschlechtlichen Körper und der nationalen Identität in der zeitgenössischen Kunstpraxis zu verstehen. Vorstellungen von nationaler Zugehörigkeit werden gerade durch die Konzentration auf Identitäten in Frage gestellt, die von der Nation an den Rand gedrängt werden – Frauen, Queers und Transgender. Das Buch schlägt das &bdquo;Postnationale&ldquo; als einen ermächtigenden Begriff vor, um die Abkehr von nationalzentrierten Diskursen zu markieren, und verwendet den Poststrukturalismus als kritischen Rahmen, um zu argumentieren, dass das Wesen der nationalen Identität selbst ein Konstrukt ist. 
							  </p>
							  {{elif session.forced_language =='en': }}
								<p>This publication takes up the work of Chitra Ganesh (b. 1974), Tejal Shah (b. 1979) and Nikhil Chopra (b. 1976), to understand the changing relationship of the gendered body with national identity in contemporary art practice. Ideas of national belonging are challenged precisely through a concerted focus on identities marginalized by the nation - women, queer and the transgenders. It proposes the ‘post-national’ as an empowering term to mark the shift away from nation-centred discourses and employs post-structuralism as the critical framework to argue that the nature of national identity is in itself a construct.</p> 
								{{pass}}								
						  </div>
						  <p>
							{{if session.forced_language =='de': }}
							  Erscheint im Winter 2021
							  {{elif session.forced_language =='en': }}
							  Forthcoming in Winter 2021
							  {{pass}}
						  </p>
					  </article>
				  </div>
				</div>
			  </div> 

			  <div class="row contentbox-12" id="muenning">
				<div class="alignleft" style="height: auto;">
				  <div class="col-lg-2">
					  <article>
						  <div class="post-image">
							  {{=IMG(_src=URL('static','images/catalog/cover_muenning.jpg'),_style='width:230px')}}
						  </div>
					  </article>
				  </div>
				  <div class="col-lg-9">
					  <article>
						  <div class="post-heading">
							  <b>Mariana Münning<br />
								Sound, Meaning, Shape: The Phonologist Wei Jiangong (1901–1980) between Language Study and Language Planning</b>
								{{if session.forced_language =='de': }}							  
								<p>Wei Jiangong war maßgeblich an den radikalen Sprachreformen im China des 20. Jh. beteiligt, und doch ist er im Westen kaum bekannt. Dieses Buch beschreibt, wie er mit einem utilitaristischen Sprachkonzept und einer tiefen Verankerung in der traditionellen Philologie an der Durchsetzung der Standardsprache, die Kompilation des meistverkauften Wörterbuchs der Welt und die Vereinfachung der Schriftzeichen mitarbeitete. Obwohl diese Maßnahmen oft als großer Einschnitt in die chinesische Sprachwelt gesehen werden, zeigt Weis stetiges Abwägen zwischen sprachwissenschaftlicher Deskription und politischer Präskription, dass sie auch als ein Schritt zur sprachlichen Selbstbestimmung gesehen werden müssen.
								</p>
								{{elif session.forced_language =='en': }}
								<p>One of the leading proponents of the radical linguistic reforms in 20th century China, Wei Jiangong remains hardly known in the West. This book describes how Wei, who was rooted in traditional philology and conceptualizing language as a tool, helped to promulgate a standard language, led the compilation of the world’s most popular dictionary, and helped to drive script reform. While these measures were characterized as violent intervention in the Chinese language sphere, Wei’s careful negotiating of linguistic description and political prescription illustrates how they also may have been steps that helped to achieve linguistic self-determination.</p>
								{{pass}}								
						  </div>
						  <p>
							{{if session.forced_language =='de': }}
							  Erscheint im Winter 2021
							  {{elif session.forced_language =='en': }}
							  Forthcoming in Winter 2021
							  {{pass}}
						  </p>
					  </article>
				  </div>
				</div>
			  </div> 

            
		<div class="row">
			<div  id="vorschau_reihen" class="col-lg-12">
				<h4>  {{if session.forced_language =='de': }}
					Reihen
					{{elif session.forced_language =='en': }}
					Series
				{{pass}}
				</h4>
			</div>   
		</div>	

    		<div class="row contentbox-12" id="media_cultural">
			  <div class="alignleft" style="height: auto;">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/series/macs_logo.png'),_style='border: 0; width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Nadja-Christina Schneider {{=T('(Ed.)')}}<br />
                            Media and Cultural Studies</b>
						</div>
						<p>
						{{if session.forced_language =='de': }}
						Die Reihe "Media and Cultural Studies" veröffentlicht Ergebnisse aktueller regionalwissenschaftlicher Forschungen, die sich mit medien- und kulturwissenschaftlichen Fragen befassen. Einen weiteren Schwerpunkt bilden Forschungen an der Schnittstelle von Medienkultur- und Geschlechterforschung. Die Reihe dient insbesondere transregional angelegten und Südasien bezogenen Qualifikationsarbeiten und Sammelbänden als Publikationsplattform. Sie bietet darüber hinaus auch die Möglichkeit, multimediale Inhalte zu publizieren
						{{elif session.forced_language =='en': }}
						The "Media and Cultural Studies" series publishes original research results in the area studies that deal with questions of media and cultural studies. An additional focus is laid on innovative research at the interface of media culture and gender studies. In particular, the series serves as a publication platform for transregional and South Asia-related projects, for instance, PhD dissertations or edited volumes. Furthermore, it offers possibilities for multimedia publications.
						{{pass}}
						</p>

					</article>
				</div>
			  </div>
			</div>		
    </div>
    
</section>